<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- name태그 -->
<head th:replace="/fragments/default :: head(|${board} List|)">
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<!-- header -->
	<div th:replace="/fragments/default :: header"></div>
	<!-- jumbotron -->
	<div th:replace="/fragments/default :: jumbotron"></div>
	<!-- /member/memberJoin -->
	<!-- com....member.MemberController.setJoin -->
	<h1 th:text="${board}">Page</h1>
	<!-- footer -->
	<div th:replace="/fragments/default :: footer"></div>

</body>
</html>