<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- name태그 -->
<head th:replace="/fragments/default :: head(|${board} Select|)">
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<!-- header -->
	<div th:replace="/fragments/default :: header"></div>
	<!-- jumbotron -->
	<div th:replace="/fragments/default :: jumbotron"></div>
	
	<div class="container">
		<h2 th:text="${board}"></h2>
		
		<table class="table">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">Num</th>
		      <th scope="col">Title</th>
		      <th scope="col">Writer</th>
		      <th scope="col">Date</th>
		      <th scope="col">Hit</th>      
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row" th:text="${vo.num}"></th>
		      <td th:text="${vo.title}">Mark</td>
		      <td th:text="${vo.writer}">Otto</td>
		      <td th:text="${vo.regDate}">@mdo</td>
		      <td th:text="${vo.hit}"></td>
		    </tr>
		  </tbody>
		</table>
		<!-- utext : HTML 문법을 적용한 텍스트 -->
		<div th:utext="${vo.contents}"></div>
		
		
		<!-- 변수명, collection -->
		<p th:each="fileVO : ${vo.files}">
			<a th:href="@{|/upload/${board}/${fileVO.fileName}|}" th:text="${fileVO.oriName}"></a>
		</p>
		
		
		<a type="button" class="btn btn-success" th:href="@{update(num=${vo.num})}">Update</a>
		<a type="button" class="btn btn-danger" th:href="@{delete(num=${vo.num})}">Delete</a>
		
	</div>
	

	<!-- footer -->
	<div th:replace="/fragments/default :: footer"></div>

</body>
</html>