<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- name태그 -->
<head th:replace="/fragments/default :: head('Member Login')">
<meta charset="UTF-8">
<title>Member Login</title>
</head>
<body>
	<!-- header -->
	<div th:replace="/fragments/default :: header"></div>
	<!-- jumbotron -->
	<div th:replace="/fragments/default :: jumbotron"></div>
	<!-- /member/memberJoin -->
	<!-- com....member.MemberController.setJoin -->
	
	<div class="container">
	<h1>Member Login Page</h1>
		<form action="./login" method="post">
		  <div class="form-group">
		    <label for="username">Username</label>
		    <input type="text" class="form-control" id="username" name="username">
		  </div>
		  <div class="form-group">
		    <label for="password1">Password</label>
		    <input type="password" class="form-control" id="password" name="password">
		  </div>
		  <div class="form-group form-check">
		    <input type="checkbox" class="form-check-input" id="exampleCheck1">
		    <label class="form-check-label" for="exampleCheck1">Check me out</label>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	
	
	
	<!-- footer -->
	<div th:replace="/fragments/default :: footer"></div>

</body>
</html>