<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- name태그 -->
<head th:replace="/fragments/default :: head('Member Login')">
<meta charset="UTF-8">
<title>Member Login</title>
</head>
<body>
	<!-- header -->
	<div th:replace="/fragments/default :: header"></div>
	<!-- jumbotron -->
	<div th:replace="/fragments/default :: jumbotron"></div>
	<!-- /member/memberJoin -->
	<!-- com....member.MemberController.setJoin -->
	<h1>Member Login Page</h1>
	<!-- footer -->
	<div th:replace="/fragments/default :: footer"></div>

</body>
</html>